= form_for @suggestion do |f|
  .row
    = field_set_tag 'Suggestion Form', class: "text-center" do
      .small-12.large-6.columns
        = f.label :sig, class: "suggestion-form-label"
        .panel
          = f.collection_select :sig_id, @sigs, :id, :name,
            { include_blank: "Please select special interest group..." },
            { class: "sig-suggestion-select" }

      .small-12.large-6.columns
        = f.label :position, class: "suggestion-form-label"
        .panel
          = f.collection_select :position, @positions, :id, :description,
            { include_blank: "Please select a position..." },
            { class: "existing-positions-select" }
          %span.or-tag
          = f.text_field :position, placeholder: "...suggest a position", class: "suggest-new-position"

      %hr

      .row
        .large-6.columns
          = f.label :reasoning, class: "suggestion-form-label"
          = f.text_area :reasoning, placeholder: "We'd love to hear why you think the special interest group would support this position."

        .large-6.columns
          = f.label :citations, class: "suggestion-form-label"
          = f.text_area :citations, placeholder: "Please link any citations here."

      = f.submit "Submit Suggestion", class: "button radius"